body {
    font-family: Helvetica;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5px;
    margin-top: 2.5cm;
    margin-left: 2.5cm;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5px;
    color: steelblue;
    margin-top: 1.5cm;
    margin-left: 2.5cm;  
}

.l1 {
    font-size: 15px;
    line-height: 1.5px;
    margin-left: 2.5cm;
}

.l2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5px;
    margin-left: 2.5cm;
}

.l3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5px;
    margin-top: 1cm;
    margin-left: 2.5cm;
}

.l31 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5px;
    margin-left: 2.5cm;
}

.l4 {
    font-size: 13px;
    line-height: 1.5px;
    margin-left: 2.5cm;
    margin-bottom: 0.7cm;
}

.l5 {
    font-size: 15px;
    line-height: 1.5px;
    margin-left: 2.5cm;
}

